@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola, soy Angel Jimenez</h1>
    <p>Soy Desarrollado de software .NET con un gusto a tener nuevos desafios que representen un reto. Tengo un </p>
</div>
