@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="aboutme">

    <div class="aboutme-info">
        <img src="~/assets/images/pic-1.jpeg" alt="Its me!!!" class="image">
        <h1 class="title">Hola, soy Angel Jimenez c:</h1>
        <p class="paraf">Soy Desarrollado de software .NET con un gusto a tener nuevos desafios que representen un reto,
            ademas de conocer y explorar tecnologias basadas en la nube, internet de las cosas y web.</p>
    </div>
</section>
